mat-toolbar {
    background-color: white;
    height: 64px;
    justify-content: space-between;
}

.brand-title {
    color: #084EFD;
    display: inline-block;
    margin-bottom: 0 !important;
}

.brand-logo {
    font-size: 1.25rem;
}

.search-div {
    width: 25rem;
    position: relative;
    font-size: 14px;
    height: 46px;
    margin: auto;
    
}