<form [formGroup]="createNoteForm" (ngSubmit) = "onSubmit()" class="create-note-form">
    <mat-form-field appearance="standard" floatLabel="never" class="full-width title-field" *ngIf = "showTitleField">
        <input matInput type="text" placeholder="Title" formControlName="title">
    </mat-form-field>

    <!-- <div contenteditable="true" class="full-width" *ngIf="!todoSelected" (keyup)="setContentInForm($event)"> -->

    <!-- </div> -->

    <mat-form-field appearance="standard" floatLabel="never" class="full-width" *ngIf = "!todoSelected">
        <textarea matInput [rows]="contentRowsCount" placeholder="Skribble a note..." formControlName="content"></textarea>
    </mat-form-field>

    <ng-container *ngIf = "todoSelected">
        <div formArrayName="todo" cdkDropList (cdkDropListDropped)="drop($event)">
            <ng-container *ngFor="let todoForm of todo.controls; let i = index">
                <div [formGroupName]="i" cdkDrag>
                    <mat-form-field appearance="standard" floatLabel="never" class="full-width">
                        <mat-checkbox matPrefix formControlName="value"></mat-checkbox>
                        
                        <input matInput type="text" class="ms-2" formControlName="todoTitle" placeholder="Skribble a list item...">
                        
                        <div class="button-row" matSuffix>
                            <mat-icon cdkDragHandle matTooltip="Drag" class="cursor-grab">drag_indicator</mat-icon>
                            <mat-icon (click)="deleteItemFromList(i, $event)" color="warn" matTooltip="Delete this item" class="cursor-pointer">close</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
            </ng-container>
            <button mat-button type="button" (click)="addNewItemToList()" color="primary" matTooltip="Add new item" >
                <mat-icon>add</mat-icon>
                Add list item
            </button>
        </div>
    </ng-container>

    <mat-form-field appearance="standard" floatLabel="never" class="full-width url-input-div" *ngIf="showUrlInputField">
        <input matInput type="url" placeholder="Eg: https://www.google.com/maps/@12.7647389,75.2362377,15z" [(ngModel)]="addedLink" [ngModelOptions]="{standalone: true}">
        <button matSuffix mat-button color="primary" (click)="onAddLink($event)" type="button">
            Save url
        </button> 
    </mat-form-field>

    <ng-container *ngIf="uploadedImages.length > 0">
        <app-image-gallery [images]="uploadedImages" [deleteImageVisible]="deleteImageVisible" (delete)="onDeleteImage($event)"></app-image-gallery>
    </ng-container>

    <div *ngIf="includesMaps">
        <app-maps [latitude]="latitude" [longitude]="longitude" [height]="'400px'" [showDeleteButton]="true" (delete)="onRemoveLink()"></app-maps>
    </div>
    
    <div class="controls-div d-flex justify-content-between" *ngIf = "showTitleField">
        <div class="icon-control">
            <button mat-icon-button type="button" class="me-2" matTooltip="Create a to do list" (click)="onToggleTodoList()">
                <mat-icon color="primary" [class.dark-grey]="!todoSelected">checklist</mat-icon>
            </button>

            <button *ngIf="!includesMaps" mat-icon-button type="button" class="me-2" matTooltip="Insert google maps link" (click)="onAddLinkClick($event)">
                <mat-icon color="primary" [class.dark-grey]="!showUrlInputField">location_on_outline</mat-icon>
            </button>
            <button *ngIf="includesMaps" mat-icon-button type="button" class="me-2" matTooltip="Remove google maps link" (click)="onRemoveLink();$event.stopPropagation()">
                <mat-icon color="warn">location_off_outline</mat-icon>
            </button>

            <input type="file" #img class="hidden-input" (change)="onImageUpload($event)" accept=".jpg,.jpeg,.png,.webp">
            <button mat-icon-button type="button" class="me-2" matTooltip="Attach an image" (click)="img.click()">
                <mat-icon class="dark-grey">insert_photo_outline</mat-icon>
            </button>

            <button mat-icon-button type="button" class="me-2" matTooltip="Pin this note" (click)="onPin($event)">
                <mat-icon [class.dark-grey]="!notePinned" color="accent">push_pin_outline</mat-icon>
            </button>
        </div>
        <div class="save-control">
            <button mat-button color="primary" matTooltip="Save note" type="submit">Save</button>
            <button mat-button matTooltip="Close note" type="button" (click)="onClose()">Close</button>
        </div>
    </div>
</form>
