<div class="container">
    <div class="row mt-4">
        <div class="col-lg-8 offset-lg-2">
            <mat-card>
                <mat-card-content>
                    <app-create-note></app-create-note>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h4 class="grey">PINNED</h4>
            <p class="grey" *ngIf = "myFilteredPinnedNotes.length === 0">There's nothing in here. Try pinning a note.</p>
            <ngx-masonry [ordered]="true">
                <div ngxMasonryItem [prepend]="true" *ngFor="let note of myFilteredPinnedNotes; let i = index" class="masonry-item">
                    <app-note [note] = "note" (addImage)="onAddImage($event, note.id)" (click) = "onClickNote(note.id)" 
                    (checkboxClick)="onCheckboxClick($event, note.id)" (pinClick)="onNotePin($event)"
                    (delete)="onDeleteNote($event)" (editMode)="onEditNote($event)">
                    </app-note>
                </div>
            </ngx-masonry>
            <!-- <p class="grey" *ngIf = "pinnedNotes.length === 0">There's nothing in here. Try pinning a note.</p>
            <ngx-masonry [ordered]="true">
                <div ngxMasonryItem [prepend]="true" *ngFor="let note of pinnedNotes; let i = index" class="masonry-item">
                    <app-note [note] = "note" (addImage)="onAddImage(note.id)" (click) = "onClickNote(note.id)" 
                    (checkboxClick)="onCheckboxClick($event, note.id)" (pinClick)="onNotePin($event)"
                    (delete)="onDeleteNote($event)" (editMode)="onEditNote($event)">
                    </app-note>
                </div>
            </ngx-masonry> -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h4 class="grey">OTHERS</h4>
            <p class="grey" *ngIf="myFilteredOtherNotes.length===0">Start Skribbling! Come on, add a note.</p>
            <ngx-masonry>
                <div ngxMasonryItem [prepend]="true" *ngFor="let note of myFilteredOtherNotes; let i=index" class="masonry-item">
                    <app-note [note] = "note" (addImage)="onAddImage($event,note.id)" (click) = "onClickNote(note.id)" 
                    (checkboxClick)="onCheckboxClick($event, note.id)" (pinClick)="onNotePin($event)"
                    (delete)="onDeleteNote($event)" (editMode)="onEditNote($event)">
                    </app-note>
                </div>
            </ngx-masonry>
            <!-- <p class="grey" *ngIf="myNotes.length===0">Start Skribbling! Come on, add a note.</p>
            <ngx-masonry>
                <div ngxMasonryItem [prepend]="true" *ngFor="let note of myOtherNotes; let i=index" class="masonry-item">
                    <app-note [note] = "note" (addImage)="onAddImage(note.id)" (click) = "onClickNote(note.id)" 
                    (checkboxClick)="onCheckboxClick($event, note.id)" (pinClick)="onNotePin($event)"
                    (delete)="onDeleteNote($event)" (editMode)="onEditNote($event)">
                    </app-note>
                </div>
            </ngx-masonry> -->
        </div>
    </div>

</div>
